/*phone respnsive*/
@media (max-width: 640px) {
    #header{
        .phone{
            span{
                font-size: 10px!important;
            }
        }
        .info{
            ul{
                li{
                    font-size: 10px!important;
                    margin-left: 10px!important;
                    span{
                        display:none;
                    }
                }
            }
        }
    }
    #nav {
        .nav-item {
            .main-item{
                display: none!important;
            }
            .search {
                display: none;
            }
        }
        .nav-links{
            display: none!important;
        }
    }

    .search-input {
        display: none;
    }


    //footer base
    #footer{
        #footer-links {
            display: none !important;
        }
        .input-group{
            display: none !important;
        }
    }

    //product list
    #product-cards{
        .container{
            max-width: 590px !important;
        }
        .cards-wrapper{
            flex-direction: column;
        }
    }
    .products-options{
        margin-top: 20px;
        flex-direction: column !important;
        justify-content: center !important;
    }


    //footer credential part2
    #credential {
        ul {
            margin-top: 10px;
            justify-content: flex-start;
        }
    }
}

/* tablet responsive */
@media only screen and (min-width:640px) and (max-width:768px) {
    #nav{
        .main-item{
            display: none!important;
        }
        .nav-links{
            display: none!important;
        }
    }
    .hamburger-menu{
        display: block!important;
    }
    #footer{
        #footer-links {
            display: none !important;
        }
        .input-group{
            display: none !important;
        }
    }

     //product list
    #product-cards{
        .container{
            max-width: 590px !important;
        }
        .cards-wrapper{
            flex-direction: column !important;
        }
    }
    .products-options{
        margin-top: 20px;
        flex-direction: column !important;
        justify-content: center !important;
    }

    //products-page
    #product-image{
        display: flex;
        justify-content: center !important;
    }
    #price-cards-wrapper{
        justify-content: center !important;
    }
}

/* desktop responsive */
@media only screen and (min-width:768px) and (max-width:998px) {
    #nav {
        .nav-item {
            .search {
                input {
                    width: 330px;
                }
            }
            .main-item {
                .item {
                    margin-left: 5px;
    
                    span {
                        margin-left: 3px;
                    }
                }
            }
        }
        .nav-links{
            display: none!important;
        }
    }
    #footer{
        #footer-links {
            display: none !important;
        }
        .input-group{
            display: none !important;
        }
    }
}

/*tv responsive*/
@media only screen and (min-width:998px) and (max-width:1400px) {
    #nav {
        .main-item {
            .item {
                margin-left: 10px;

                span {
                    margin-left: 3px;
                }
            }
        }
    }
}

@media only screen and (min-width:1440px) {}