@mixin li-header-style {
    color: rgba(255, 255, 255, 0.75);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

@mixin card-title {
    color: #000;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

@mixin logo-style {
    color: #000;
    font-family: Palanquin;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin add-btn {
    width: 312px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #212121;
}