* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1128px;
}

footer {
  background-color: #F7F7F9;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 0 36px 0;
  border-bottom: 1px solid rgba(39, 49, 66, 0.15);
}
footer .footer-top .search-input {
  margin: auto;
  width: 40%;
}
footer .footer-top .search-input input {
  padding: 15px 15px;
  position: relative;
  border-radius: 8px !important;
  border: 1px solid rgba(158, 158, 158, 0.35);
}
footer .footer-top .search-input svg {
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
}

footer .footer-body {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

#footer-links {
  flex-direction: flex-end;
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
}
#footer-links h3 {
  margin-bottom: 20px;
  color: #212121;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#footer-links ul {
  padding: 0;
}
#footer-links ul li {
  margin-bottom: 20px;
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#footer-info {
  padding-top: 56px;
}
#footer-info p {
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#footer-info ul {
  margin-top: 40px;
  padding: 0;
}
#footer-info ul li {
  margin-bottom: 24px;
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#footer-info button {
  margin-top: 24px;
  padding: 10px 16px;
  border: 1px solid #171717;
  border-radius: 8px;
  background: #F7F7F9;
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#credential {
  padding: 22px 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#credential span {
  color: rgba(33, 33, 33, 0.75);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#credential ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#credential ul li {
  margin-right: 32px;
}

/*phone respnsive*/
@media (max-width: 640px) {
  #header .phone span {
    font-size: 10px !important;
  }
  #header .info ul li {
    font-size: 10px !important;
    margin-left: 10px !important;
  }
  #header .info ul li span {
    display: none;
  }
  #nav .nav-item .main-item {
    display: none !important;
  }
  #nav .nav-item .search {
    display: none;
  }
  #nav .nav-links {
    display: none !important;
  }
  .search-input {
    display: none;
  }
  #footer #footer-links {
    display: none !important;
  }
  #footer .input-group {
    display: none !important;
  }
  #product-cards .container {
    max-width: 590px !important;
  }
  #product-cards .cards-wrapper {
    flex-direction: column;
  }
  .products-options {
    margin-top: 20px;
    flex-direction: column !important;
    justify-content: center !important;
  }
  #credential ul {
    margin-top: 10px;
    justify-content: flex-start;
  }
  #services .services-wrapper .service-card {
    border: none !important;
  }
  #services .services-wrapper .service-card h4 {
    margin-left: 0 !important;
  }
}
/* tablet responsive */
@media only screen and (min-width: 640px) and (max-width: 768px) {
  #nav .main-item {
    display: none !important;
  }
  #nav .nav-links {
    display: none !important;
  }
  .hamburger-menu {
    display: block !important;
  }
  #footer #footer-links {
    display: none !important;
  }
  #footer .input-group {
    display: none !important;
  }
  #product-cards .container {
    max-width: 590px !important;
  }
  #product-cards .cards-wrapper {
    flex-direction: column !important;
  }
  .products-options {
    margin-top: 20px;
    flex-direction: column !important;
    justify-content: center !important;
  }
  #product-image {
    display: flex;
    justify-content: center !important;
  }
  #price-cards-wrapper {
    justify-content: center !important;
  }
  #services .services-wrapper .service-card {
    border: none !important;
  }
  #services .services-wrapper .service-card h4 {
    margin-left: 0 !important;
  }
  #services .services-wrapper .service-card:nth-of-type(3) {
    border: none !important;
  }
}
/* desktop responsive */
@media only screen and (min-width: 768px) and (max-width: 998px) {
  #nav .nav-item .search input {
    width: 330px;
  }
  #nav .nav-item .main-item .item {
    margin-left: 5px;
  }
  #nav .nav-item .main-item .item span {
    margin-left: 3px;
  }
  #nav .nav-links {
    display: none !important;
  }
  #footer #footer-links {
    display: none !important;
  }
  #footer .input-group {
    display: none !important;
  }
}
/*tv responsive*/
@media only screen and (min-width: 998px) and (max-width: 1400px) {
  #nav .main-item .item {
    margin-left: 10px;
  }
  #nav .main-item .item span {
    margin-left: 3px;
  }
}
#hero {
  background-color: #FFE2E0;
  padding: 25px 0;
}
#hero .hero-section-preview span.hero {
  color: #DF4244;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#hero .hero-section-preview h1.hero {
  color: #212121;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
}
#hero .hero-section-preview p.hero {
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#hero .hero-section-preview button.hero {
  margin-top: 48px;
  padding: 12px 56px;
  border: none;
  border-radius: 8px;
  background-color: #206363;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#hero img {
  width: 100%;
}

#features {
  background-color: #F7F7F7;
  padding: 55px 0;
}
#features .feat-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#features .feat-row .item {
  display: flex;
  align-items: center;
}
#features .feat-row h2.item-header {
  margin-left: 8px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

#header {
  background: #007878;
  padding: 12px 0px;
}
#header .phone svg {
  margin-right: 12px;
}
#header .phone span {
  line-height: 170%;
  color: rgba(255, 255, 255, 0.75);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
#header .info ul li {
  color: rgba(255, 255, 255, 0.75);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-left: 18px;
}
#header .info ul li span {
  color: rgba(255, 255, 255, 0.7490196078);
  margin-left: 18px;
}

#nav a {
  color: black;
}
#nav .search {
  position: relative;
}
#nav .search input {
  width: 504px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  background: #F7F9FC;
  padding: 0px 10px;
  border-radius: 8px;
  border-radius: 8px;
}
#nav .search svg {
  position: absolute;
  right: 8%;
  top: 12px;
}
#nav .main-item {
  justify-content: space-between;
}
#nav .main-item .basket {
  cursor: pointer;
}
#nav .main-item .basket a {
  color: black;
}
#nav .item {
  margin-left: 26px;
}
#nav .item span {
  margin-left: 8px;
}
#nav .nav-links {
  margin: 24px 0px 24px 0px;
}
#nav .nav-links ul {
  display: flex;
}
#nav .nav-links ul li {
  margin-right: 54px;
}
#nav .nav-links ul li a {
  color: #273142;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#nav .nav-links ul li:nth-child(0) {
  margin-right: 0px;
}

#product-sliders {
  padding: 83px 0 96px 0;
}

#product-sliders .swiper {
  width: 100%;
  height: 165px;
  margin: 20px auto;
}
#product-sliders .swiper .slider2 {
  position: relative;
  padding: 20px;
  width: 264px !important;
  height: 162px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  background: #F5F5F5;
  border-radius: 8px;
}
#product-sliders .swiper .slider2 img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90%;
  width: 40%;
  object-fit: cover;
}
#product-sliders .swiper-button-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  color: black;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  border: 1px solid grey;
}
#product-sliders .swiper-button-next:after {
  font-size: 18px !important;
}

#products {
  margin-bottom: 96px;
}
#products .card {
  background-color: #F9F9F9;
}
#products h1 {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin-bottom: 32px;
}
#products .slider {
  width: 360px !important;
}
#products .slider .card {
  border-radius: 8px;
  border: none;
}
#products .slider .card .imgbox {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
#products .slider .card .imgbox img {
  object-fit: cover;
  width: 218px;
  height: 243px;
}
#products .slider .card .imgbox .new {
  position: absolute;
  width: 79px;
  height: 32px;
  border-radius: 8px;
  background: #43D167;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 16px;
}
#products .slider .card .imgbox .new span {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#products .slider .card .imgbox svg {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 16px;
  right: 16px;
}
#products .slider .card .card-body {
  padding: 28px 24px;
}
#products .slider .card .card-body .rate svg {
  margin-left: 6px;
}
#products .slider .card .card-body .rate svg:nth-child(1) {
  margin-left: 0;
}
#products .slider .card .card-body .card-title h3 {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin: 16px 0px;
}
#products .slider .card .card-body .price {
  display: flex;
  align-items: center;
  margin: 16px 0px;
}
#products .slider .card .card-body .price h3 {
  color: #F75145;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  margin: 0;
}
#products .slider .card .card-body .price span {
  color: rgba(54, 54, 54, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-left: 18px;
}
#products .slider .card .card-body .add-btn {
  margin: 0 auto;
}
#products .slider .card .card-body .add-btn button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #212121;
}

#best-seller {
  padding: 72px 0;
  background-color: #FFF7F7;
  margin-bottom: 96px;
}
#best-seller h1 {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin-bottom: 32px;
}
#best-seller .slider {
  width: 360px !important;
}
#best-seller .slider .card {
  border-radius: 8px;
  border: none;
}
#best-seller .slider .card .imgbox {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
#best-seller .slider .card .imgbox img {
  object-fit: cover;
  width: 218px;
  height: 243px;
}
#best-seller .slider .card .imgbox .new {
  position: absolute;
  width: 79px;
  height: 32px;
  border-radius: 8px;
  background: #43D167;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 16px;
}
#best-seller .slider .card .imgbox .new span {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#best-seller .slider .card .imgbox svg {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 16px;
  right: 16px;
}
#best-seller .slider .card .card-body {
  padding: 28px 24px;
}
#best-seller .slider .card .card-body .rate svg {
  margin-left: 6px;
}
#best-seller .slider .card .card-body .rate svg:nth-child(1) {
  margin-left: 0;
}
#best-seller .slider .card .card-body .card-title h3 {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin: 16px 0px;
}
#best-seller .slider .card .card-body .price {
  display: flex;
  align-items: center;
  margin: 16px 0px;
}
#best-seller .slider .card .card-body .price h3 {
  color: #F75145;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  margin: 0;
}
#best-seller .slider .card .card-body .price span {
  color: rgba(54, 54, 54, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-left: 18px;
}
#best-seller .slider .card .card-body .add-btn {
  margin: 0 auto;
}
#best-seller .slider .card .card-body .add-btn button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #212121;
}

#discount-products {
  margin-bottom: 96px;
}
#discount-products .card {
  background-color: #F9F9F9;
}
#discount-products h1 {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin-bottom: 32px;
}
#discount-products .slider {
  width: 360px !important;
}
#discount-products .slider .card {
  border-radius: 8px;
  border: none;
}
#discount-products .slider .card .imgbox {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
#discount-products .slider .card .imgbox img {
  object-fit: cover;
  width: 218px;
  height: 243px;
}
#discount-products .slider .card .imgbox .new {
  position: absolute;
  width: 79px;
  height: 32px;
  border-radius: 8px;
  background: #43D167;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 16px;
}
#discount-products .slider .card .imgbox .new span {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#discount-products .slider .card .imgbox svg {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 16px;
  right: 16px;
}
#discount-products .slider .card .card-body {
  padding: 28px 24px;
}
#discount-products .slider .card .card-body .rate svg {
  margin-left: 6px;
}
#discount-products .slider .card .card-body .rate svg:nth-child(1) {
  margin-left: 0;
}
#discount-products .slider .card .card-body .card-title h3 {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin: 16px 0px;
}
#discount-products .slider .card .card-body .price {
  display: flex;
  align-items: center;
  margin: 16px 0px;
}
#discount-products .slider .card .card-body .price h3 {
  color: #F75145;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  margin: 0;
}
#discount-products .slider .card .card-body .price span {
  color: rgba(54, 54, 54, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-left: 18px;
}
#discount-products .slider .card .card-body .add-btn {
  margin: 0 auto;
}
#discount-products .slider .card .card-body .add-btn button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #212121;
}

.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}
.product-title h1 {
  margin-bottom: 0 !important;
}
.product-title a {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#fav-outlined:hover {
  cursor: pointer;
}

#fav-filled:hover {
  cursor: pointer;
}

#basket {
  padding: 48px 0px 114px 0px;
}
#basket li a {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #1D1D1D;
  margin-left: 7px;
}
#basket li:nth-child(2) a {
  color: rgba(29, 29, 29, 0.75);
}
#basket h1 {
  color: #212121;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#basket .basket-card {
  display: flex;
  width: 100%;
  height: 211px;
  padding: 16px 17px;
  border-radius: 8px;
  border: 1px solid #E4E4E4;
  margin-bottom: 24px;
}
#basket .basket-card .imgbox {
  border-radius: 8px;
  background: #F9F9F9;
  margin-right: 24px;
  width: 151px;
  height: 179px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#basket .basket-card .imgbox img {
  width: 124px;
  height: 137px;
}
#basket .basket-card .basket-main .basket-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
#basket .basket-card .basket-main span {
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#basket .basket-card .basket-main .feature {
  margin-bottom: 8px;
}
#basket .basket-card .basket-main .feature .basket-color {
  margin-left: 23px;
}
#basket .basket-card .basket-main .basket-link {
  display: flex;
  float: right;
  margin-top: 8px;
}
#basket .basket-card .basket-main .basket-link .favorit {
  cursor: pointer;
}
#basket .basket-card .basket-main .basket-link .remove {
  cursor: pointer;
  margin-left: 40px;
}
#basket .basket-calculate {
  width: 360px;
  height: 275px;
  border-radius: 8px;
  background: #F9F9F9;
}
#basket .basket-calculate .basket-calculate-title {
  padding: 32px 24px;
}
#basket .basket-calculate .basket-calculate-title .price {
  display: flex;
  justify-content: space-between;
}
#basket .basket-calculate .basket-calculate-title .price span {
  color: #212121;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#basket .basket-calculate .basket-calculate-title .free {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px 20px 0px;
}
#basket .basket-calculate .basket-calculate-title .free span {
  color: #212121;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#basket .basket-calculate .basket-calculate-title .total-price {
  display: flex;
  justify-content: space-between;
}
#basket .basket-calculate .basket-calculate-title .total-price span {
  color: #212121;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  font-size: 18px;
  font-weight: 500;
}
#basket .basket-calculate .basket-calculate-title .line {
  width: 312px;
  height: 1px;
  background-color: #D0D0D0;
  margin: 24px 0px 22px 0px;
}
#basket .basket-calculate .basket-calculate-title .promo-code {
  display: flex;
}
#basket .basket-calculate .basket-calculate-title .promo-code input {
  width: 210px;
  height: 48px;
  color: #888;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border: none;
  padding: 16px 15px;
}
#basket .basket-calculate .basket-calculate-title .promo-code button {
  width: 102px;
  height: 48px;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background: #FF695E;
}
#basket .basket-calculate .basket-calculate-title .promo-code button span {
  color: #212121;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  color: #FFF;
}
#basket .basket-calculate .basket-button {
  margin-top: 23px;
}
#basket .basket-calculate .basket-button button {
  width: 360px;
  height: 52px;
  border-radius: 8px;
  background: #DF4244;
  border: none;
}
#basket .basket-calculate .basket-button button span {
  color: #212121;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  color: #fff;
}

#breadcrumb-links {
  padding: 32px 0 6px 0;
}
#breadcrumb-links ul {
  display: flex;
  align-items: center;
}
#breadcrumb-links ul li {
  margin-right: 7px;
}
#breadcrumb-links ul li a {
  color: #1D1D1D;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#breadcrumb-links ul li.active {
  color: rgba(29, 29, 29, 0.75);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

main h1 {
  color: #212121;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 68px */
}
main .dropdown {
  padding: 16px 38px 24px 40px;
  border-radius: 8px;
  border: 1px solid #D0D0D0;
}
main .dropdown .dropdown-header {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .dropdown .dropdown-header h2 {
  color: #212121;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin-bottom: 0px;
}
main .dropdown .dropdown-body ul li {
  margin-top: 16px;
}

#heading {
  padding-bottom: 30px;
}
#heading .header span {
  margin-right: 17px;
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#heading .header button {
  padding: 6px 13px 7px 19px;
  border-radius: 8px;
  border: 1px solid #D0D0D0;
  background-color: transparent;
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  text-align: center;
}

.products-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 128px;
}

#categories .productCategory:hover {
  cursor: pointer;
}

#material {
  margin-top: 24px;
}
#material .dropdown-body form div {
  margin-top: 16px;
}
#material .dropdown-body form div input {
  margin-right: 14px;
  border-radius: 3px;
}
#material .dropdown-body form div label {
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#price {
  margin-top: 24px;
}
#price .dropdown-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#price .dropdown-body p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(33, 33, 33, 0.75);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  width: 72px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #C8C8C8;
  margin-bottom: 0;
}
#price .dropdown-body p:last-of-type {
  margin-right: 15px;
}
#price .dropdown-body span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 40px;
  text-align: center;
  margin: 0 6px;
}
#price .dropdown-body article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 40px;
  border-radius: 8px;
  background-color: #EF544F;
}
#price .price-input {
  color: rgba(33, 33, 33, 0.75);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  width: 50px;
  height: 30px;
  border: none;
}

#size {
  margin-top: 24px;
}
#size .dropdown-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#size p {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(33, 33, 33, 0.75);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  width: 72px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #C8C8C8;
  margin-bottom: 0;
}
#size p:nth-of-type(2) {
  margin: 0px 14px;
}
#size p:hover {
  cursor: pointer;
}

#color {
  padding: 16px 21px 24px 40px;
  margin-top: 24px;
}
#color .dropdown-body {
  display: flex;
}
#color ul {
  display: flex;
  flex-wrap: wrap;
  transition: 0.2s;
}
#color ul li {
  margin-right: 17px;
  width: 18px;
  height: 18px;
  border-radius: 50px;
}
#color ul li:first-of-type {
  background-color: #275240;
}
#color ul li:nth-of-type(2) {
  background-color: #0085FF;
}
#color ul li:nth-of-type(3) {
  background-color: #3D2A33;
}
#color ul li:nth-of-type(4) {
  background-color: #773838;
}
#color ul li:nth-of-type(5) {
  background-color: #000;
}
#color ul li:nth-of-type(6) {
  background-color: #307E46;
}
#color ul li:nth-of-type(7) {
  background-color: #0085FF;
}
#color ul li:nth-of-type(8) {
  background-color: #FF6B00;
}
#color ul li:nth-of-type(9) {
  background-color: #D6B73B;
}
#color ul li:nth-of-type(10) {
  background-color: #7C4DFF;
}
#color ul li:nth-of-type(11) {
  background-color: #F75145;
}
#color ul li:nth-of-type(12) {
  background-color: #842759;
}
#color ul li:nth-of-type(13) {
  background-color: #895C31;
}
#color ul li:hover {
  scale: 1.1;
  border: 1px solid black;
  cursor: pointer;
}

#product-cards {
  margin-left: 58px;
}
#product-cards .cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#product-cards .cards-wrapper .card {
  margin-bottom: 48px;
  width: 360px;
  height: 508px;
  background-color: #F9F9F9;
  border-radius: 8px;
  border: none;
}
#product-cards .cards-wrapper .card .imgbox {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
#product-cards .cards-wrapper .card .imgbox img {
  object-fit: cover;
  width: 218px;
  height: 243px;
}
#product-cards .cards-wrapper .card .imgbox .new {
  position: absolute;
  width: 79px;
  height: 32px;
  border-radius: 8px;
  background: #43D167;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 16px;
}
#product-cards .cards-wrapper .card .imgbox .new span {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#product-cards .cards-wrapper .card .imgbox svg {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 16px;
  right: 16px;
}
#product-cards .cards-wrapper .card .card-body {
  padding: 28px 24px;
}
#product-cards .cards-wrapper .card .card-body .rate svg {
  margin-left: 6px;
}
#product-cards .cards-wrapper .card .card-body .rate svg:nth-child(1) {
  margin-left: 0;
}
#product-cards .cards-wrapper .card .card-body .card-title h3 {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin: 16px 0px;
}
#product-cards .cards-wrapper .card .card-body .price {
  display: flex;
  align-items: center;
  margin: 16px 0px;
}
#product-cards .cards-wrapper .card .card-body .price h3 {
  color: #F75145;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  margin: 0;
}
#product-cards .cards-wrapper .card .card-body .price span {
  color: rgba(54, 54, 54, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-left: 18px;
}
#product-cards .cards-wrapper .card .card-body .add-btn {
  margin: 0 auto;
}
#product-cards .cards-wrapper .card .card-body .add-btn button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #212121;
}

#details #product-image {
  padding: 32px 0 72px 0;
}
#details #product-image .image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 456px;
  max-height: 473px;
  border-radius: 3px;
  background-color: #F9F9F9;
  padding: 38px 60px 56px 56px;
  overflow: hidden;
}
#details #product-image .image-wrapper .discount-percentage {
  position: absolute;
  top: 27;
  left: 24;
  padding: 3px 22px;
  border-radius: 8px;
  background-color: #DF4244;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#details #product-image .image-wrapper .fav {
  position: absolute;
  top: 24;
  right: 24;
}
#details #product-image .image-wrapper img {
  width: 100%;
  height: 100%;
}
#details #choose-options {
  padding-top: 32px;
}
#details #choose-options h1 {
  color: #212121;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#details #choose-options p {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: #212121;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-bottom: 24px;
}
#details #choose-options p svg {
  margin-right: 6px;
}
#details #choose-options p svg:last-of-type {
  margin-right: 10px;
}
#details #choose-options p span {
  margin: 0 6px;
}
#details #choose-options #price-cards-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#details #choose-options #price-cards-wrapper .price {
  width: 224px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #E4E4E4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15;
  margin-bottom: 16px;
  margin-right: 24px;
}
#details #choose-options #price-cards-wrapper .price P {
  margin: 0;
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#details #choose-options #price-cards-wrapper .price span {
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#details #choose-options #price-cards-wrapper .price:active {
  border: 1px solid #F75145;
}
#details #choose-options #price-cards-wrapper .price:active span {
  color: #F75145;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#details #products-size-color {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#details #products-size-color h3 {
  color: #212121;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin-bottom: 16px;
}
#details #products-size-color ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#details #products-size-color .size-option {
  padding: 7px 22px;
  border-radius: 8px;
  border: 1px solid #212121;
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#details #products-size-color .size-option:nth-of-type(2) {
  margin: 0 14px;
}
#details #products-size-color .color-option {
  margin-top: 4px;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  margin-right: 14px;
}
#details #products-size-color .color-option:first-of-type {
  background-color: #CD5C0B;
}
#details #products-size-color .color-option:nth-of-type(2) {
  background-color: #0085FF;
}
#details #products-size-color .color-option:nth-of-type(3) {
  background-color: #35783B;
}
#details #products-size-color .color-option:nth-of-type(4) {
  background-color: #ED0875;
}
#details #buttons-wrapper {
  margin-top: 40px;
}
#details #buttons-wrapper button {
  padding: 12px 74px;
  width: 244px;
  height: 52px;
  border-radius: 8px;
  border: none;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
  border-color: #DF4244;
  background-color: #DF4244;
}
#details #wp {
  margin-top: 16px;
}
#details #wp a {
  padding-top: 16px;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  text-decoration-line: underline;
}

#description {
  padding: 103px 0px 96px 0px;
}
#description ul li {
  cursor: pointer;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  color: rgba(33, 33, 33, 0.55);
}
#description ul li:nth-child(1) {
  margin-right: 48px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  color: #212121;
}
#description .line {
  width: 1130px;
  height: 1px;
  background-color: rgba(39, 49, 66, 0.15);
  margin: 16px 0px 40px 0px;
}
#description .detail-title .product-desc p {
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#description .detail-title .review-title .review-card {
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.28);
  background: #FFF;
  padding: 24px 41px;
  margin-bottom: 24px;
}
#description .detail-title .review-title .review-card .review-name {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
#description .detail-title .review-title .review-card .review-name .name {
  color: #212121;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin-right: 24px;
}
#description .detail-title .review-title .review-card .review-name .rate svg {
  margin-right: 6px;
}
#description .detail-title .review-title .review-card .review-name .rate:nth-child(1) {
  margin: 0;
}
#description .detail-title .review-title .review-card .review-date span {
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#description .detail-title .review-title .review-card p {
  margin-top: 24px;
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#product-recomendations {
  margin-top: 96px;
}
#product-recomendations .product-title h1 {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
#product-recomendations .product-title a {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}

.recomended-roducts {
  margin-bottom: 96px;
}
.recomended-roducts .card {
  background-color: #F9F9F9;
}
.recomended-roducts h1 {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin-bottom: 32px;
}
.recomended-roducts .slider {
  width: 360px !important;
}
.recomended-roducts .slider .card {
  border-radius: 8px;
  border: none;
}
.recomended-roducts .slider .card .imgbox {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
.recomended-roducts .slider .card .imgbox img {
  object-fit: cover;
  width: 218px;
  height: 243px;
}
.recomended-roducts .slider .card .imgbox .new {
  position: absolute;
  width: 79px;
  height: 32px;
  border-radius: 8px;
  background: #43D167;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 16px;
}
.recomended-roducts .slider .card .imgbox .new span {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
.recomended-roducts .slider .card .imgbox svg {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 16px;
  right: 16px;
}
.recomended-roducts .slider .card .card-body {
  padding: 28px 24px;
}
.recomended-roducts .slider .card .card-body .rate svg {
  margin-left: 6px;
}
.recomended-roducts .slider .card .card-body .rate svg:nth-child(1) {
  margin-left: 0;
}
.recomended-roducts .slider .card .card-body .card-title h3 {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin: 16px 0px;
}
.recomended-roducts .slider .card .card-body .price {
  display: flex;
  align-items: center;
  margin: 16px 0px;
}
.recomended-roducts .slider .card .card-body .price h3 {
  color: #F75145;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  margin: 0;
}
.recomended-roducts .slider .card .card-body .price span {
  color: rgba(54, 54, 54, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-left: 18px;
}
.recomended-roducts .slider .card .card-body .add-btn {
  margin: 0 auto;
}
.recomended-roducts .slider .card .card-body .add-btn button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #212121;
}

#services {
  padding: 114px 0 72px 0;
}
#services .services-wrapper {
  border: 1px solid #E4E4E4;
  padding: 35px 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#services .services-wrapper .service-card {
  text-align: center;
  border-right: 2px solid #E4E4E4;
  border-spacing: 5px 1rem;
}
#services .services-wrapper .service-card h4 {
  margin-top: 14px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#services .services-wrapper .service-card p {
  margin-top: 16px;
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
#services .services-wrapper .service-card:last-of-type {
  border-right: none;
}

#favorite-products {
  display: flex;
  padding: 32px 114px;
}
#favorite-products h1 {
  color: #212121;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#favorite-products .user-card {
  width: 264px;
  height: 344px;
}
#favorite-products .user-card .user-card-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #E4E4E4;
  border-bottom: none;
  padding: 16px 0px 16px 14px;
  display: flex;
  align-items: center;
}
#favorite-products .user-card .user-card-header .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: cover;
}
#favorite-products .user-card .user-card-header .name {
  margin-left: 20px;
}
#favorite-products .user-card .user-card-header .name h2 {
  color: #212121;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin: 0;
}
#favorite-products .user-card .user-card-header .name h3 {
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin: 0;
}
#favorite-products .user-card .user-card-body {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #E4E4E4;
}
#favorite-products .user-card .user-card-body ul li {
  display: flex;
  align-items: center;
  padding: 14px 24px;
  border-bottom: 1px solid #E4E4E4;
}
#favorite-products .user-card .user-card-body ul li span {
  margin-left: 12px;
  color: #212121;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#favorite-products .user-card .user-card-body ul li:last-of-type {
  border: none;
}
#favorite-products #fav-products .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 47px;
}
#favorite-products #fav-products .cards-wrapper .card {
  margin-bottom: 48px;
  width: 360px;
  height: 508px;
  background-color: #F9F9F9;
  border-radius: 8px;
  border: none;
}
#favorite-products #fav-products .cards-wrapper .card .imgbox {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}
#favorite-products #fav-products .cards-wrapper .card .imgbox img {
  object-fit: cover;
  width: 218px;
  height: 243px;
}
#favorite-products #fav-products .cards-wrapper .card .imgbox .new {
  position: absolute;
  width: 79px;
  height: 32px;
  border-radius: 8px;
  background: #43D167;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 16px;
}
#favorite-products #fav-products .cards-wrapper .card .imgbox .new span {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#favorite-products #fav-products .cards-wrapper .card .imgbox svg {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 16px;
  right: 16px;
}
#favorite-products #fav-products .cards-wrapper .card .card-body {
  padding: 28px 24px 0 24px;
}
#favorite-products #fav-products .cards-wrapper .card .card-body .rate svg {
  margin-left: 6px;
}
#favorite-products #fav-products .cards-wrapper .card .card-body .rate svg:nth-child(1) {
  margin-left: 0;
}
#favorite-products #fav-products .cards-wrapper .card .card-body .card-title h3 {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin: 16px 0px;
}
#favorite-products #fav-products .cards-wrapper .card .card-body .price {
  display: flex;
  align-items: center;
  margin: 16px 0px;
}
#favorite-products #fav-products .cards-wrapper .card .card-body .price h3 {
  color: #F75145;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  margin: 0;
}
#favorite-products #fav-products .cards-wrapper .card .card-body .price span {
  color: rgba(54, 54, 54, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-left: 18px;
}
#favorite-products #fav-products .cards-wrapper .card .card-body .add-btn {
  margin: 0 auto;
}
#favorite-products #fav-products .cards-wrapper .card .card-body .add-btn button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #212121;
}/*# sourceMappingURL=style.css.map */